.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin:  auto;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}


.nav-list li a {
  color: #ffffff;
  text-decoration: none;
}

.log_in{
  display: flex;
  align-items: center;
  gap: 10px;
}

.registro {
  padding: 8px 16px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inicio_sesion {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registro:hover {
  background-color: #2d37cc;
}

.inicio_sesion:hover {
  background-color: #2b9230;
}

